body {
    background-color: lightgreen;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;

}
footer {
    position: relative;;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1em;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
}
footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}